<div class="tab-container">
  <mat-tab-group mat-stretch-tabs="true">

    <mat-tab label="Ajout d'événement" *ngIf="canAddEvent">
      <app-add-event></app-add-event>
    </mat-tab>

    <mat-tab label="Validation" *ngIf="isAdmin">
      <div class="events-container">
        <div *ngIf="pendingEvents.length === 0">Aucun évènement à valider</div>
        <mat-card *ngFor="let event of pendingEvents" class="event-card">
          <mat-card-header>
            <mat-card-title>{{ event.title }}</mat-card-title>
          </mat-card-header>
          <img *ngIf="event.images" [src]="event.images" alt="{{ event.title }}" class="event-image">
          <mat-card-content>
            <p><strong>Description :</strong> {{ event.description }}</p>
            <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
            <p><strong>Participants :</strong> {{ getParticipantsCount(event) }}</p>
            
            <ul *ngIf="event.participants && event.participants.length > 0">
              <li *ngFor="let participant of event.participants">
                    {{ participant.username }}
                </li>
            </ul>

            <p><strong>Organisateur :</strong> ID: {{ event.organizer_id }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="validateEvent(event.id)">✔ Valider</button>
            <button mat-raised-button color="warn" (click)="deleteEvent(event.id)">❌ Supprimer</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </mat-tab>

    <mat-tab label="Liste d'événements">
      
      <h3>Événements à venir</h3>
      <div *ngIf="selectedEvent; else eventList">
        <mat-card class="event-details-card">
          <mat-card-header>
            <mat-card-title>{{ selectedEvent.title }}</mat-card-title>
          </mat-card-header>
          <img *ngIf="selectedEvent.images" [src]="selectedEvent.images" alt="{{ selectedEvent.title }}" class="event-image">
          <mat-card-content>
            <p><strong>Description :</strong> {{ selectedEvent.description }}</p>
            <p><strong>Date :</strong> {{ formatDate(selectedEvent.date_time) }}</p>
            <p><strong>Participants :</strong> {{ getParticipantsCount(selectedEvent) }}</p>
            <ul *ngIf="selectedEvent.participants.length > 0">
              <li *ngFor="let participant of selectedEvent.participants">
                {{ participant.username }}
              </li>
            </ul>
            <p><strong>Durée :</strong> {{ selectedEvent.duration }} heures</p>
            <p><strong>Organisateur :</strong> ID: {{ selectedEvent.organizer_id }}</p>
          </mat-card-content>
          <mat-card-actions>
            <ng-container *ngIf="selectedEvent.participants.length < selectedEvent.max_players; else completLabel">
              <button mat-raised-button color="primary" *ngIf="!isUserRegistered(selectedEvent)" (click)="joinEvent(selectedEvent.id)">
                S'inscrire
              </button>
            </ng-container>
            <ng-template #completLabel>
              <span class="full-event-label">Complet</span>
            </ng-template>
            
            <button mat-raised-button color="warn" *ngIf="isUserRegistered(selectedEvent)" (click)="leaveEvent(selectedEvent.id)">Se désinscrire</button>
            <button mat-raised-button color="accent" (click)="closeDetails()">Retour</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <ng-template #eventList>
        <div class="events-container">
          <mat-card *ngFor="let event of upcomingEvents; trackBy: trackById" class="event-card">
            <mat-card-header>
              <mat-card-title>{{ event.title }}</mat-card-title>
            </mat-card-header>
            <img *ngIf="event.images" [src]="event.images" alt="{{ event.title }}" class="event-image">
            <mat-card-content>
              <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
              <p><strong>Participants :</strong> {{ getParticipantsCount(event) }}</p>
            </mat-card-content>
            <mat-card-actions>
              <ng-container *ngIf="event.participants.length < event.max_players; else completLabel">
                <button mat-raised-button color="primary" *ngIf="!isUserRegistered(event)" (click)="joinEvent(event.id)">
                  S'inscrire
                </button>
              </ng-container>
              <ng-template #completLabel>
                <span class="full-event-label">Complet</span>
              </ng-template>
              
              <button mat-raised-button color="warn" *ngIf="isUserRegistered(event)" (click)="leaveEvent(event.id)">Se désinscrire</button>
              <button mat-raised-button (click)="showDetails(event)">Voir détails</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>

      <h3>Événements en cours</h3>
        <div *ngIf="ongoingEvents.length === 0">Aucun événement en cours.</div>
        <div class="events-container">
          <mat-card *ngFor="let event of ongoingEvents" class="event-card">
            <mat-card-header>
              <mat-card-title>{{ event.title }}</mat-card-title>
            </mat-card-header>
            <img *ngIf="event.images" [src]="event.images" alt="{{ event.title }}" class="event-image">
            <mat-card-content>
              <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
              <p><strong>Participants :</strong> {{ getParticipantsCount(event) }}</p>

              <ul *ngIf="event.participants && event.participants.length > 0"></ul>

            </mat-card-content>
            <mat-card-actions>
              <mat-card-actions>
                <button 
                  mat-raised-button 
                  color="accent" 
                  *ngIf="isUserRegistered(event)" 
                  (click)="confirmPresence(event.id)">
                  Rejoindre
                </button>
                <button 
                  mat-raised-button 
                  (click)="showDetails(event)">
                  Voir détails
                </button>
              </mat-card-actions>
                          </mat-card-actions>
          </mat-card>
        </div>

    </mat-tab>

  </mat-tab-group>
</div>
