<mat-card *ngIf="submittedEvent" class="event-card">
    <img *ngIf="submittedEvent" [src]="gameOptions[submittedEvent.jeu]" alt="{{ submittedEvent.jeu }}">
    <div class="card-content">
        <mat-card-header>
            <mat-card-title>{{ gameNames[submittedEvent.jeu] | titlecase }}</mat-card-title>
            <mat-card-subtitle><strong>Tournoi :</strong> {{ submittedEvent.type | titlecase }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Nb de joueurs : </strong>{{ currentParticipants }}/{{ submittedEvent.nbParticipants }}</p>
            <p><strong>Début :</strong> {{ submittedEvent.dateDebut | date:'dd/MM/yyyy' }} à {{ submittedEvent.heureDebut | date:'HH:mm' }}</p>
            <p><strong>Fin :</strong> {{ submittedEvent.dateFin | date:'dd/MM/yyyy' }} à {{ submittedEvent.heureFin | date:'HH:mm' }}</p>
        </mat-card-content>
    </div>
</mat-card>

<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="add-event-container">
        <h3>Ajouter un événement</h3>
        <div class="add-event-contain">
            <div class="add-event-game">
                <mat-form-field>
                    <mat-label>Jeu</mat-label>
                    <mat-select formControlName="jeu">
                        <mat-option *ngFor="let game of gameOptions | keyvalue" [value]="game.key">
                            {{ gameNames[game.key] | titlecase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                                <mat-form-field>
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="type">
                                        <mat-option *ngFor="let n of eventTypeOptions" [value]="n">
                                            {{ n }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                <mat-form-field class="participant">
                    <mat-label>Nb participant(s)</mat-label>
                    <mat-select formControlName="nbParticipants">
                        <mat-option *ngFor="let n of filteredParticipantsOptions" [value]="n">
                            {{ n }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="add-event-date">
                <mat-form-field>
                    <mat-label>Date de début</mat-label>
                    <input matInput [matDatepicker]="startDatePicker" formControlName="dateDebut" [matDatepickerFilter]="dateFilter">
                    <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Heure de début</mat-label>
                    <input matInput [matTimepicker]="startTimePicker" formControlName="heureDebut">
                    <mat-timepicker-toggle matIconSuffix [for]="startTimePicker"/>
                    <mat-timepicker #startTimePicker/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date de fin</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" formControlName="dateFin" [matDatepickerFilter]="dateFilter">
                    <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Heure de fin</mat-label>
                    <input matInput [matTimepicker]="endTimePicker" formControlName="heureFin">
                    <mat-timepicker-toggle matIconSuffix [for]="endTimePicker"/>
                    <mat-timepicker #endTimePicker/>
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button color="primary" type="submit">Soumettre</button>
    </div>
</form>



