node_modules/
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

**/.angular/
**/.angular/cache/
**/dist/
**/tmp/
**/out-tsc/
**/coverage/
**/.tsbuildinfo

/bazel-out
/libpeerconnection.log
/connect.lock
/testem.log
/typings
.DS_Store
Thumbs.db

**/.env

*dump*.sql
*backup*.sql
alldb-dump.sql
esportify_backup.sql

esportify-backend/logs/
esportify-backend/uploads/

esportify-frontend/Esportify/
**/vite/
**/vite/**

**/angular-compiler.db
**/angular-compiler.db-lock
