<div class="contact">
    <h3>Nous contacter</h3>
    <form class="form-container" (ngSubmit)="sendMessage()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input 
            type="email"
            matInput 
            [formControl]="emailFormControl" 
            [errorStateMatcher]="matcher" 
            name="email" 
            required>
            <mat-error *ngIf="emailFormControl.hasError('email')">Veuillez entrer un email valide</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">L'email est <strong>requis</strong></mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <textarea matInput class="message" [formControl]="messageFormControl" name="message" required></textarea>
            <mat-error *ngIf="messageFormControl.hasError('required')">Le message est requis</mat-error>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit" class="btn" [disabled]="emailFormControl.invalid || messageFormControl.invalid">
            Envoyer
        </button>
    </form>
</div>