<div class="contact">
    <h3>Nous contacter</h3>
    <form class="form-container email" (ngSubmit)="sendMessage()">
        <mat-form-field class="form-contain email">
            <mat-label>Email</mat-label>
            <input 
                type="email"
                matInput 
                [formControl]="emailFormControl" 
                [errorStateMatcher]="matcher" 
                name="email" 
                required>
            <mat-error *ngIf="emailFormControl.hasError('email')">Veuillez entrer un email valide</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">L'email est <strong>requis</strong></mat-error>
        </mat-form-field>
        
        <mat-form-field class="form-contain message">
            <mat-label>message</mat-label>
            <textarea matInput [formControl]="messageFormControl" name="message" requires></textarea>
            <mat-error *ngIf="messageFormControl.hasError('required')">Le message est requis</mat-error>
        </mat-form-field>
    </form>
    <button type="submit" class="btn post" (click)="sendMessage()" [disabled]="emailFormControl.invalid || messageFormControl.invalid">Envoyer</button>
</div>