<div class="signin">
    <h3>Se connecter</h3>
    <form class="form-container signin" action="/api/users/login" method="post">
        <mat-form-field class="form-contain">
            <mat-label>Email</mat-label>
            <input 
                type="email"
                matInput 
                [formControl]="loginEmailFormControl" 
                [errorStateMatcher]="matcher" 
                name="email" 
                required>
            @if (loginEmailFormControl.hasError('email')) {
                <mat-error>Veuillez entrer un email valide</mat-error>
            }
            @if (loginEmailFormControl.hasError('required')) {
                <mat-error>l'email est <strong>requis</strong></mat-error>
            }
        </mat-form-field>
        
        <mat-form-field class="form-contain">
            <mat-label>password</mat-label>
            <input type="password" matInput name="password" [formControl]="loginPasswordFormControl" required>
            <mat-error *ngIf="loginPasswordFormControl.hasError('required')">
                Le mot de passe est requis
            </mat-error>
            <mat-error *ngIf="loginPasswordFormControl.hasError('invalidPassword')">
                Mot de passe incorrect
            </mat-error>
        </mat-form-field>
    </form>
    <button type="submit" class="btn" (click)="signin()">Se connecter</button>
</div>