mat-form-field {
    width: 100%;

}

.signin {
    display: flex;
    flex-direction: column; 
    padding-right: 10%;
    align-items: center;
    justify-content: center;
} 

.signin mat-form-field {
    width: auto; 
}

.btn {
    background-color: #7A8024;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 5px 0; 
    flex-direction: row;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #4d5021;
}

@media (max-width: 768px) {
    .signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}