<div class="homepage-container">
  <div class="intro">
    <div class="intro-text">
      <h2>LA PLATEFORME D'ÉVÈNEMENTS E-SPORT</h2>
      <p>Bienvenue sur Esportify, la plateforme révolutionnaire dédiée aux compétitions et événements e-sport !</p>
      <p>Fondée en 2021, Esportify a rapidement conquis le monde du e-sport grâce à son engagement envers les joueurs...</p>
      <p>Rejoignez la communauté d’Esportify et faites partie de l’évolution du e-sport !</p>
    </div>

    <div class="slider-container">
      <div class="slider-track" [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'" [class.no-transition]="noTransition">
        <img *ngFor="let img of clonedSlideImages" [src]="img" class="slide-img" alt="image jeu" />
      </div>
    </div>
  </div>
  <div class="homepage-event">
    <div class="currentEvent-columns">
      <div class="event-list">
        <h3>En cours</h3>
        <ul>
          <li *ngFor="let event of ongoingEvents.slice(0, 10)">
            {{ event.title }} - {{ event.date_time | date: 'dd-MM-yyyy à HH:mm' }}
          </li>
        </ul>
        <div class="voir-tout">
          <a [routerLink]="['/events']" [queryParams]="{ tab: 'liste' }">voir tout</a>
        </div>
      </div>
    </div>
      
    <div class="nextEvent-columns">
      <div class="event-list">
        <h3>À venir</h3>
        <ul>
          <li *ngFor="let event of upcomingEvents.slice(0, 10)">
            {{ event.title }} - {{ event.date_time | date: 'dd-MM-yyyy à HH:mm' }}
          </li>
        </ul>
        <div class="voir-tout">
          <a [routerLink]="['/events']" [queryParams]="{ tab: 'liste' }">voir tout</a>
        </div>
      </div>
    </div>
  </div>
</div>