<mat-toolbar>
  <button *ngIf="isMobile" mat-icon-button (click)="toggleDrawer()" class="burger-icon">
    <mat-icon>menu</mat-icon>
  </button>

  <a href="/home" class="homeBtnNav">Esportify</a>
  <span *ngIf="isLoggedIn && !isMobile">Bonjour {{ pseudo }} !</span>

  <span class="toolbar-actions">
    <a *ngIf="isLoggedIn && !isMobile" (click)="logout()" href="/home" class="btnNav">Déconnexion</a>
    <button *ngIf="isLoggedIn && isMobile" mat-icon-button (click)="logout()" class="connexion-icon">
      <mat-icon>logout</mat-icon>
    </button>
    <a *ngIf="!isLoggedIn" href="/connexion" class="btnNav">Connexion</a>
    <a *ngIf="!isLoggedIn && isMobile" href="/connexion" mat-icon-button class="connexion-icon">
      <mat-icon>person</mat-icon>
    </a>
  </span>
</mat-toolbar>

<div class="app-container">
  <mat-drawer-container>
    <mat-drawer #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
      <div class="sideNav">
        <div class="menuNav">
          <a href="/events" class="btnNav">Événements</a>
          <ng-container *ngIf="isLoggedIn">
            <a href="/space" class="btnNav">Mon espace</a>
            <a href="/historic" class="btnNav">Historique</a>
          </ng-container>
        </div>
        <div class="contactBtn">
          <a href="/contact" class="btnNav">Contact</a>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<footer class="footer">
  © Esportify - {{ currentYear }}. Tous droits réservés
</footer>