<mat-toolbar>
    <a href="/home" class="btnNav">Esportify</a>
    <span class="example-spacer"></span>
    <a href="/connexion" class="btnNav">Connexion</a>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="sideNav">
            <div class="menuNav">
                <a href="/events" class="btnNav">Événements</a>
                <a href="/" class="btnNav">Mon espace</a>
                <a href="/" class="btnNav">Historique</a>
            </div>
            <div class="contactBtn">
                <a href="/contact" class="btnNav">Contact</a>
            </div>
        </div>        
    </mat-drawer>
    <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
</mat-drawer-container>




 