<div id="content">
    <div id="present">
        <div id="title"><h2>LA PLATEFORME D'ÉVÈNEMENTS E-SPORT</h2></div>
        <div id="esporty"><h3>Bienvenue sur Esportify, la plateforme révolutionnaire dédiée aux compétitions et 
            événements e-sport ! </h3>
            
            <p>Fondée en 2021, Esportify a rapidement conquis le monde du e-sport grâce à son 
            engagement envers les joueurs et les organisateurs de tournois.</p>
            
            <p>Notre mission est simple : offrir une expérience fluide, immersive et accessible pour tous les passionnés 
            de jeux vidéo.</p>

            <p>Rejoignez la communauté d’Esportify et faites partie de l’évolution du e-sport ! Que vous soyez joueur, 
            organisateur ou simple passionné, notre plateforme est conçue pour répondre à vos besoins.</p>
        </div>
    </div>

    <div class="caroussel">
        <div class="wrapper">
            <img src="img/Balatro.jpg" alt="balatro">
            <img src="img/CS2.png" alt="Counter Strike 2">
            <img src="img/fifa.png" alt="Fifa">
            <img src="img/LoL.png" alt="League of Legends">
            <img src="img/rocketLeague.png" alt="Rocket League">
            <img src="img/starcraft2.png" alt="StarCraft 2">
            <img src="img/valorant.png" alt="Valorant">
        </div>
    </div>
</div>