* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242A36;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div {
    background-color: #242A36;
}

#content {
    display: flex;  
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    /* position: absolute;  */
    /* width: calc(100% - 220px); */
    /* height: calc(50% - 60px);  */
    padding: 10px;
}

#present {
    flex: 1;
    margin-right: 50px;
    color: white;
}

#title {
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#esporty {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd;
}

.caroussel {
    flex: 1; 
    width: 350px;
    max-height: max-content;
    overflow: hidden;
    background-color: #242A36;
    padding: 0;
    display: flex;
}

.carousel-images {
    display: flex;
    animation: slide 14s infinite; 
    transition: transform 1.5s ease-in-out;
}

.wrapper {
    display: flex;
    height: 100%;
    width: calc(300px * 7 + 10px * 6); 
    animation: slide 20s infinite;
    position: relative;
    align-items: center;
}

img {
    flex-shrink: 0;
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    14% {
        transform: translateX(calc(-350px));
    }
    28% {
        transform: translateX(calc(-700px));
    }
    42% {
        transform: translateX(calc(-1050px)); 
    }
    56% {
        transform: translateX(calc(-1400px));
    }
    70% {
        transform: translateX(calc(-1750px));
    }
    84% {
        transform: translateX(calc(-2100px));
    }
    98% {
        transform: translateX(calc(-2450px));
    }
}

span {
    padding: 1px;
}