<div class="event-room-wrapper" *ngIf="!isLoading">
  <div class="event-room" *ngIf="!isBanned && eventData">
    <div class="event-info">
      <div class="header">
        <button class="mobile-chat-toggle" *ngIf="isMobileView && !isChatOpen" (click)="isChatOpen = true">
          <mat-icon>chat</mat-icon>
        </button>
        <div class="image-wrapper">
          <button *ngIf="!isMobileView" class="back-button" (click)="navigateBack()">
            <mat-icon class="back-icon">arrow_back</mat-icon>
          </button>

          <button *ngIf="isMobileView && !isChatOpen" class="back-button" (click)="navigateBack()">
            <mat-icon class="back-icon">arrow_back</mat-icon>
          </button>

          
          <div class="mobile-chat-sidenav" [class.open]="isChatOpen" *ngIf="isMobileView">
            <div class="chat-header">
              <span>Chat</span>
              <button class="close-chat-btn" (click)="isChatOpen = false">
                <mat-icon>close</mat-icon>
              </button>
            </div>

            <div class="chat-messages">
              <div *ngFor="let msg of messages" class="chat-message">
                <strong class="username">{{ msg.user }} :</strong>
                <span class="message-text">{{ msg.content }}</span>
              </div>
            </div>

            <div class="chat-input" *ngIf="!isOver() && !isBanned">
              <input type="text" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Écris ton message..."/>
              <button (click)="sendMessage()">Envoyer</button>
            </div>
          </div>

          <button class="favorite-btn" (click)="toggleFavorite()" [ngClass]="{ active: isFavorite }" aria-label="Favori">
            <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
          <img *ngIf="eventData.images" [src]="eventData.images" alt="image du jeu" />
        </div>

        <div class="details-grid">
          <div class="detail-row">
            <span class="label">Date :</span>
            <span class="value">{{ eventData.date_time | date:'dd/MM/yyyy à HH:mm' }}</span>
          </div>
        
          <div class="detail-row">
            <span class="label">Organisateur :</span>
            <span class="value">{{ eventData.organizer_name || 'Inconnu' }}</span>
          </div>
        
          <div class="detail-row">
            <span class="label">Durée :</span>
            <span class="value">{{ eventData.duration }} heure(s)</span>
          </div>
        
          <div class="detail-row">
            <span class="label">Description :</span>
            <span class="value">{{ eventData.description }}</span>
          </div>
        
          <div class="detail-row">
            <span class="label">Participants :</span>
            <span class="value">
              <ul>
                <li *ngFor="let p of eventData.participants" (click)="openParticipantMenu(p)" class="clickable-participant">
                  {{ p.username }}
                  <mat-icon *ngIf="p.has_joined" class="presence-icon" style="color: green">check-circle</mat-icon>
                </li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="action-buttons" *ngIf="!isOver() && !isBanned">
        <ng-container *ngIf="!isEventStarted(); else startedBlock">
          <ng-container *ngIf="!isUserRegistered()">
            <button *ngIf="(eventData.participants?.length || 0) < eventData.max_players" class="join-action-button" (click)="joinEvent()">
              S'inscrire
            </button>
            
            <span *ngIf="(eventData.participants?.length || 0) >= eventData.max_players" class="full-label">
              Complet !
            </span>
          </ng-container>
          <button *ngIf="isUserRegistered()" class="join-action-button" (click)="leaveEvent()">
            Se désinscrire
          </button>
        </ng-container>
        <ng-template #startedBlock>
          <ng-container *ngIf="isUserRegistered() && !hasUserJoined() && isEventStarted()">
            <button class="join-action-button" (click)="confirmPresence()">Rejoindre</button>
          </ng-container>
          <ng-container *ngIf="isUserRegistered() && hasUserJoined()">
            <span class="already-joined">Rejoint !</span>
          </ng-container>
        </ng-template>
      </div>

      <div class="score-section" *ngIf="isOver()">
        <button class="scoreButton" *ngIf="canEnterScore && !allScoresEntered()" (click)="openScoreDialog()">
          Entrer un score
        </button>  
        <div class="score-display">
          <div class="score-left">
            <h3>Ton score</h3>
            <ng-container *ngIf="userScore; else noScore">
              <p *ngIf="userScore.metadata?.kills"><strong>Kills :</strong> {{ userScore.metadata.kills }}</p>
              <p *ngIf="getGameType() === 'starcraft2'">
                <span 
                  [ngClass]="{ 'result-win': userScore.result === 'win', 'result-lose': userScore.result === 'lose' }">
                </span>
              </p>
              <p *ngIf="getGameType() === 'balatro' && userScore.score">
                <strong>Points :</strong> {{ userScore.score }} pts
              </p>
              <p *ngIf="getGameType() === 'supermeatboy' && userScore.score">
                <strong>Temps :</strong> {{ formatSecondsToTime(userScore.score) }}
              </p>
              <p *ngIf="getGameType() !== 'supermeatboy' && userScore.metadata?.score">
                <strong>Score :</strong> {{ userScore.metadata.score }} - {{ userScore.metadata.score_opponent }}
              </p>
              <p>
                <span [ngClass]="{ 'result-win': userScore.result === 'win', 'result-lose': userScore.result === 'lose' }">
                  {{ userScore.result === 'win' ? 'Gagné' : 'Perdu' }}
                </span>
              </p>
            </ng-container>
            <ng-template #noScore><p>Aucun score enregistré.</p></ng-template>
          </div>

          <div class="score-right">
            <h3>Top 10</h3>
            <ul>
              <li *ngFor="let s of topScores">
                {{ s.username }} :
                <span *ngIf="gameType === 'starcraft2'">
                  {{ s.metadata?.win ? 'Victoire' : 'Défaite' }}
                </span>
                <span *ngIf="gameType === 'supermeatboy'">
                  {{ formatSecondsToTime(s.score) }}
                </span>
                <span *ngIf="gameType !== 'starcraft2' && gameType !== 'supermeatboy'">
                  {{ s.displayScore || s.score }}
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-section">
      <h3>Chat</h3>
      <div class="chat-messages" #chatMessagesContainer>
        <div *ngFor="let msg of messages" class="chat-message">
          <strong class="username">{{ msg.user }} : </strong> <span class="message-text">{{ msg.content }}</span>
        </div>
      </div>
      <div class="chat-input" *ngIf="!isOver() && !isBanned && isUserRegistered()">
        <input type="text" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Écris ton message..."/>
        <button (click)="sendMessage()">Envoyer</button>
      </div>
    </div>
    <div *ngIf="isBanned" class="banned-wrapper">
      <div class="banned-message">Vous avez été banni de cet événement.</div>
    </div>
</div>