<div class="mobile-filters" *ngIf="isMobile">
  <button (click)="showFilters = !showFilters" class="toggle-filters-btn" #toggleFiltersBtn>
    Filtres
    <span [class.rotated]="showFilters">▾</span>
  </button>

  <div class="filters-container" *ngIf="showFilters" #filtersContainer>
    <mat-form-field appearance="fill">
      <mat-label>jeu</mat-label>
      <mat-select [(ngModel)]="selectedGames" (selectionChange)="applyFilter()" multiple>
        <mat-option *ngFor="let game of gamesList" [value]="game[0]">
          {{ game[1].name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>genre</mat-label>
      <mat-select [(ngModel)]="selectedGenres" (selectionChange)="applyFilter()" multiple>
        <mat-option *ngFor="let genre of uniqueGenres()" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filtrer par résultat</mat-label>
      <mat-select [(ngModel)]="selectedResult" (selectionChange)="applyFilter()">
        <mat-option value="all">Tous</mat-option>
        <mat-option value="win">🏆 Gagné</mat-option>
        <mat-option value="lose">💀 Perdu</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="onlyFavorites" (change)="applyFilter()">
      ❤️ Favoris uniquement
    </mat-checkbox>
  </div>
</div>

<mat-tab-group class="mobile-tabs" *ngIf="isMobile">
  <mat-tab label="Mes événements">
    <div class="scrollable-list">
      <mat-card *ngFor="let event of userEvents" class="historic-card">
        <img 
          *ngIf="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          [src]="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          alt="{{ event.title }}">
        <mat-card-content>
          <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
          <p><strong>Durée :</strong> {{ event.duration }}h</p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="event.userScore?.result" class="result">
            <span 
              [ngClass]="{
                'result-win': event.userScore.result === 'win',
                'result-lose': event.userScore.result === 'lose'
              }"
            >
              {{ event.userScore.result === 'win' ? '🏆 Gagné' : '💀 Perdu' }}
            </span>
          </div>
          <button mat-raised-button color="primary" [routerLink]="['/events', event.id]">Détails</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Tous les événements">
    <div class="scrollable-list">
      <mat-card *ngFor="let event of allEndedEvents" class="historic-card">
        <img 
          *ngIf="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          [src]="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          alt="{{ event.title }}">
        <mat-card-content>
          <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
          <p><strong>Durée :</strong> {{ event.duration }}h</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/events', event.id]">Détails</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="historic-wrapper">
  <div class="historic-section">
    <h2>Mes événements</h2>
    <div class="scrollable-list">
      <mat-card *ngFor="let event of userEvents" class="historic-card">
        <img 
          *ngIf="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          [src]="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          alt="{{ event.title }}">
          <mat-card-content>
            <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
            <p><strong>Durée :</strong> {{ event.duration }}h</p>
          </mat-card-content>
          
          <mat-card-actions>
            <div *ngIf="event.userScore?.result" class="result">
              <span 
                [ngClass]="{
                  'result-win': event.userScore.result === 'win',
                  'result-lose': event.userScore.result === 'lose'
                }">
                {{ event.userScore.result === 'win' ? '🏆 Gagné' : '💀 Perdu' }}
              </span>
            </div>
            <button mat-raised-button color="primary" [routerLink]="['/events', event.id]">Détails</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="historic-section">
    <h2>Tous les événements</h2>
    <div class="scrollable-list">
      <mat-card *ngFor="let event of allEndedEvents" class="historic-card">
        <img 
          *ngIf="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          [src]="gameService.getGameImage(gameService.getGameKeyFromTitle(event.title))"
          alt="{{ event.title }}">
        <mat-card-content>
          <p><strong>Date :</strong> {{ formatDate(event.date_time) }}</p>
          <p><strong>Durée :</strong> {{ event.duration }}h</p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="event.userScore?.result" class="result">
            <span 
              [ngClass]="{
                'result-win': event.userScore.result === 'win',
                'result-lose': event.userScore.result === 'lose'
              }">
              {{ event.userScore.result === 'win' ? '🏆 Gagné' : '💀 Perdu' }}
            </span>
          </div>
          <button mat-raised-button color="primary" [routerLink]="['/events', event.id]">Détails</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="filters-container" *ngIf="!isMobile">
  <mat-form-field appearance="fill">
    <mat-label>jeu</mat-label>
    <mat-select [(ngModel)]="selectedGames" (selectionChange)="applyFilter()" multiple>
      <mat-option *ngFor="let game of gamesList" [value]="game[0]">
        {{ game[1].name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>genre</mat-label>
    <mat-select [(ngModel)]="selectedGenres" (selectionChange)="applyFilter()" multiple>
      <mat-option *ngFor="let genre of uniqueGenres()" [value]="genre">
        {{ genre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Filtrer par résultat</mat-label>
    <mat-select [(ngModel)]="selectedResult" (selectionChange)="applyFilter()">
      <mat-option value="all">Tous</mat-option>
      <mat-option value="win">🏆 Gagné</mat-option>
      <mat-option value="lose">💀 Perdu</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="onlyFavorites" (change)="applyFilter()">
    ❤️ Favoris uniquement
  </mat-checkbox>
</div>